<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCsT9G9s_Fecll-cShuWmPTapRBrWNphv4</string>
	<key>GCM_SENDER_ID</key>
	<string>207819850258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>beautyplusspa.ezs</string>
	<key>PROJECT_ID</key>
	<string>beauty-plus-c401c</string>
	<key>STORAGE_BUCKET</key>
	<string>beauty-plus-c401c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207819850258:ios:9eadfbcfe6043319f90ecb</string>
	<key>DATABASE_URL</key>
	<string>https://beauty-plus-c401c-default-rtdb.firebaseio.com</string>
</dict>
</plist>